<!--Navbar-->

<mdb-navbar
  SideClass="navbar navbar-expand-lg cyan navbar-dark fixed-top"
  [containerInside]="false"
>
  <!-- Navbar brand -->

  <mdb-navbar-brand
    ><a class="navbar-brand"   href="#">
      <mdb-icon fas icon="home"></mdb-icon> FINANCE HOUSE
    </a></mdb-navbar-brand
  >
  <!-- Collapsible content -->

  <links >
    <!-- Links -->

    <ul class="navbar-nav ml-auto smooth-scroll">
      <li class="nav-item active">
        <a
          class="nav-link waves-light"
          
          href="#about"
          ><mdb-icon fas icon="user-friends"></mdb-icon> {{ langData[0].aboutUs }}
          <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          mdbPageScroll
          href="#services"
          ><mdb-icon fas icon="cog"></mdb-icon> {{ langData[0].services }}</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          mdbPageScroll
          href="#news"
          ><mdb-icon fas icon="newspaper"></mdb-icon> {{ langData[0].news }}</a
        >
      </li>

      <li class="nav-item">
        <a
          
          class="nav-link waves-light"
          mdbWavesEffect
          mdbPageScrol
          href="#contact"
          ><mdb-icon fas icon="phone"></mdb-icon> {{ langData[0].contact }}</a
        >
      </li>
      <!-- <li class="nav-item dropdown" dropdown>
        
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="globe-asia" size="lg"></mdb-icon></a>
          <div  *dropdownMenu class="dropdown-menu dropdown-menu-left  dropdown " role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="dropAzClick()"><img style="width:20px"src="https://image.flaticon.com/icons/svg/197/197512.svg"></a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="dropRuClick()"><img style="width:20px"src="https://image.flaticon.com/icons/svg/197/197408.svg"></a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="dropEnClick()"><img style="width:20px"src="https://image.flaticon.com/icons/svg/323/323329.svg"></a>
          </div>
        </li> -->
      
    </ul>
    <!-- Links -->
  </links>

  <!-- Collapsible content -->
</mdb-navbar>
<br /><br /> 


