<!-- Footer -->
<footer class="page-footer font-small cyan ">

    <!-- Footer Elements -->
    <div>

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-1 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-2 mr-1"></mdb-icon>
            </a>
           
           
            <!--Linkedin -->
            
            <!--Instagram-->
            <a class="ins-ic">
                <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-2 mr-1"></mdb-icon>
            </a>
            <!--Pinterest-->
            
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> FinanceHouse</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->