<mdb-carousel class="carousel slide carousel-fade"  [animation]="'fade'" >
    <mdb-carousel-item>
      <div class="view w-100 ">
        <img class="d-block w-100 "  src="http://gcg.su/wp-content/uploads/2015/08/carousel__front_num_2.jpg" alt="First slide">
        <div class="mask"  mdbWavesEffect></div>
      </div>
      <div class="carousel-caption ">
          <h1 class="mbr-section-title words  py-3 mbr-fonts-style display-1"><strong>Yüksək xidmət hər zaman</strong></h1>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100" >
        <img class="d-block w-100" src="https://assets-us-01.kc-usercontent.com/735b310b-a0c0-00c8-b91c-7a4d02d6dce5/b2a3a097-b7ba-4293-bf38-e9cf2b37774c/Banniere_249342409.jpg" alt="Second slide">
        <div class="mask" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption words">
          <div class="animated fadeInDown">
            <h1 class="mbr-section-title words  py-3 mbr-fonts-style display-1"><strong>Bizimlə uğur qazanın </strong></h1>
          </div>
        <!-- <p class="h3-responsive write"><b>Birlikdə uğur qazanmaq</b></p> -->
        <!-- <p>Secondary text</p> -->
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://effectenergy.com.ua/images/logo/business.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
          <h1 class="mbr-section-title words py-3 mbr-fonts-style display-1"><strong>Bizə ehtibar edin </strong></h1>
        <!-- <p class="h3-responsive write"><b>Hər zaman xidmətinizdə</b></p> -->
        <!-- <p>Third text</p> -->
      </div>
    </mdb-carousel-item>
  </mdb-carousel>