.test{
    margin-top: 64px;

}

.carousel-inner{
    margin-top: 64px;
}

// h1{
//     font-style: Arial, sans-serif;
//     font-weight: bold;
//     color: rgb(231, 54, 247);
// }

// .write{
//     color: #e1fb06;
//     font-size: 36px;
    
// }

@media only screen and (max-width: 600px)  {
    .words {
        font-size: 25px;
    }
    .write{
        color: #e1fb06;
        font-size: 16px;
        
    }
}