<!--Projects section v.1-->
<section class="test" id="about">

    <!--Section heading-->
    <h2 class="text-center h1 py-5">
      <strong>Şirkətimiz</strong>
    </h2>
  
    <!--Section description-->
    
  
    <!--Grid row-->
    <div class="row text-center">
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
  
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
          <img src="https://www.mobiloitte.com/blog/wp-content/uploads/2016/10/finance-mobility.png" class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <h4>
            <strong>Finance House Tarixi</strong>
          </h4>
          <p class="grey-text">Finance House PJSC (FH)  is a financial institution operating in the Azerbaijan Finance House is regulated by the Central Bank of the Baku 
          </p>
          <a mdbBtn color="cyan" size="sm" class="waves-light" mdbWavesEffect>
             Ətraflı <mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </mdb-card-body>
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
  
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
          <img src="https://storage.myseldon.com/news_pict_DC/DC17B93C093AF36F095214E286188D52" class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <h4>
            <strong>About Finance House</strong>
          </h4>
          <p class="grey-text">Finance House. ... Even though Finance House is a non-banking financial institution, its operating model was built to compete with established banks
          </p>
          <a mdbBtn color="cyan" size="sm" class="waves-light" mdbWavesEffect>
             Ətraflı <mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </mdb-card-body>
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
  
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
          <img src="https://kredit-ka.com/wp-content/uploads/2018/02/Kredit-na-stroitelstvo-doma-pod-zalog-kvartiry-ris-1-min-705x470.jpg" class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <h4>
            <strong>Future ...</strong>
          </h4>
          <p class="grey-text">"We build competencies, implement solutions and set up business processes for the provision of innovative financial services in retail banking and retail.
          </p>
          <a mdbBtn color="cyan" size="sm" class="waves-light" mdbWavesEffect>
             Ətraflı <mdb-icon fas icon="angle-double-right"></mdb-icon></a>
        </mdb-card-body>
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--/Projects section v.1-->