<!-- Section: Contact v.2 -->
<div id="contact">
  <br />

  <section class="my-5" class="test">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Əlaqə</h2>
    <!-- Section description -->

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-9 mb-md-0 mb-5">
        <!-- {{ userForm.value | json }}
        <hr />
        {{ data | json }} -->
        <form
          #userForm="ngForm"
          method="post"
          (ngSubmit)="onSubmit()"
          action="http://127.0.0.1:8000/api/emails"
        >
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input
                  name="name"
                  type="text"
                  #names="ngModel"
                  id="contact-name"
                  class="form-control"
                  mdbInput
                  [(ngModel)]="data.name"
                  pattern="[A-Za-z+\s]{3,30}"
                  mdbValidate
                  required
                />
                <label for="contact-name" class="">Adınız</label>
                <mdb-error *ngIf="names.invalid && (names.dirty || names.touched)">Adınızı düzgün daxil edin</mdb-error>
                <!-- <mdb-success *ngIf="names.valid && (names.dirty || names.touched)">Ok</mdb-success> -->
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input
                  #email="ngModel"
                  name="email"
                  type="email"
                  id="contact-email"
                  class="form-control"
                  mdbInput
                  [(ngModel)]="data.email"
                  [class.is-invalid]="names.invalid && names.touched"
                  required
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  mdbValidate
                />
                <label for="contact-email" class="">@poçt ünvanı</label>
                <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Poçt ünvanı səhvdir</mdb-error>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input
                  type="number"
                  id="contact-Subject"
                  class="form-control"
                  pattern="[0-9]{9}"
                  [class.is-invalid]="phone.invalid && phone.touched"
                  #phone="ngModel"
                  name="phone"
                  mdbInput
                  [(ngModel)]="data.phone"
                  required
                  mdbValidate
                />
                <label for="contact-Subject" class="">Telefon</label>
                <mdb-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">Nömrə səhv daxil olunub</mdb-error>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input
                  type="text"
                  id="contact-Subject"
                  class="form-control"
                  #title="ngModel"
                  name="title"
                  mdbInput
                  [(ngModel)]="data.title"
                  pattern="[A-Za-z0-9+\s]{3,30}"
                  required
                  mdbValidate
                />
                <label for="contact-Subject" class="">Mövzu</label>
                <mdb-error *ngIf="title.invalid && (title.dirty || title.touched)">Mövzunu daxil edin</mdb-error>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form">
                <textarea
                  type="text"
                  id="contact-message"
                  name="text"
                  class="form-control md-textarea"
                  #text="ngModel"
                  rows="3"
                  mdbInput
                  [(ngModel)]="data.text"
                  required
                  mdbValidate
                ></textarea>
                <label for="contact-message">Müraciətinizi daxil edin...</label>
                <mdb-error *ngIf="text.invalid && (text.dirty || text.touched)">Muraciətinizi düzgün daxil edin</mdb-error>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
          <div class="text-center text-md-left">
            <button
              mdbBtn
              [disabled]="userForm.form.invalid"
              type="submit"
              color="cyan"
              mdbWavesEffect
            >
              Göndər
            </button>
          </div>
        </form>

        <!-- <div class="text-center text-md-left">
          <input type="submit"  color="cyan" mdbWavesEffect  />
        </div> -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li>
            <mdb-icon
              fas
              icon="map-marked"
              size="2x"
              class="cyan-text"
            ></mdb-icon>
            <p>Nəsimi rayonu, A. Səhhət küçəsi, bina 40</p>
          </li>
          <li>
            <mdb-icon
              fas
              icon="phone"
              size="2x"
              class="mt-2 cyan-text"
            ></mdb-icon>
            <p>050 448 04 51</p>
            <p>050 254 18 77</p>
            <p>050 225 06 19</p>
          </li>
          <li>
            <mdb-icon
              fas
              icon="envelope"
              size="2x"
              class="mt-2 cyan-text"
            ></mdb-icon>
            <p class="mb-0">financehouse@business.com</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Contact v.2 -->
</div>
