<div *ngIf="isNewsFull()">
  <!-- Section: Magazine v.2 -->
  <section class="magazine-section my-5 test" id="news">
    <!-- Section heading -->
    <br>
    <h2 class="h1-responsive font-weight-bold text-center my-5">Xeberler</h2>
    <!-- Section description -->

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-6 col-md-12">
        <!-- Featured news -->
        <div class="single-news mb-lg-0 mb-4">
          <!-- Image -->
          <div class="view overlay rounded z-depth-1-half mb-4">
            <img
              class="img-fluid"
              src="{{news[2].newsMedia}}"
              alt="Sample image"
            />
            <!-- <img class="img-fluid" src="{{news[0]['newsImage']}}"> -->
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Data -->
          <div class="news-data d-flex justify-content-between">
            <a href="#!" class="deep-orange-text">
              <h4 class="font-weight-bold">
                <mdb-icon fas icon="circle" class="pr-2"></mdb-icon
                >{{ news[0]["newsTitle"] }}
              </h4>
            </a>
            <p class="font-weight-bold dark-grey-text">
              <i class="fas fa-clock-o pr-2"></i
              >{{ news[0]["newsDate"].substring(0, 10) }}
            </p>
          </div>

          <!-- Excerpt -->
          <!-- <h3 class="font-weight-bold dark-grey-text mb-3"><a>Maliyyə</a></h3> -->
          <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4"></p>
          
          <p class="col-14 dark-grey-text mb-lg-0 mb-md-5 mb-4">
            {{ news[0]["newsDescription"] }}
            <a><i class="fas fa-angle-double-right"></i></a>
          </p>
        </div>
        <!-- Featured news -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-6 col-md-12">
        <!-- Small news -->
        <div
          class="single-news"
          *ngFor="let n of news | slice: 1; let i = index"
        >
          <!-- Grid row -->
          <div class="row" *ngIf="i < 4">
            <!-- Grid column -->
            <div class="col-md-3">
              <!--Image-->
              <div class="view overlay rounded z-depth-1 mb-2">
                <img

                  class="img-thumbnail imgStyle"
                  src="{{news[i].newsMedia}}"
                  alt="Sample image"
                />
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-9">
              <!-- Excerpt -->
              <p class="font-weight-bold dark-grey-text">{{ news[i].newsTitle }}</p>
              <div class="d-flex justify-content-between">
                <div class="col-15 text-truncate pl-0 mb-2">
                  <a [routerLink]="['/news/1']" (click)="onSelect(n)" class="dark-grey-text">
                    {{ news[i].newsDescription }}
                  </a>
                </div>
                <a><i class="fas fa-angle-double-right"></i></a>
              </div>
            </div>

            <!-- Grid column -->
          </div>
          <hr />

          <!-- Grid row -->
        </div>
      </div>
      <!-- Small news -->
    </div>
    <!--Grid column-->
    <!-- Grid row -->
  </section>
  <!-- Section: Magazine v.2 -->
</div>