/* You can add global styles to this file, and also import other style files */

.height{
    height: 60%;
}

body{
    background-color: #eceff1;
}


@media only screen and (min-width: 600px)  {
    .container{
        background-color: white;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}