<!-- <div id="services">
<section class="my-5"  class="test">
  <h2 class="h1-responsive font-weight-bold text-center my-5">Xidmətlərimiz</h2>
<div class="card-group ">
<mdb-card style="color:white" bgColor="bg-secondary" >
    <mdb-card-header> <mdb-icon fas icon="hand-holding-usd"></mdb-icon> Maliyyə Xidmətləri</mdb-card-header>
    <mdb-card-body>
      <mdb-card-text class="text-white">
        <ul>
          <li>Muhasibatlıq xidmətlərin yazılması</li>
          <li>Muhasibatlığın qurulması</li>
          <li>Maliyyə nəzarəti</li>
        </ul></mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="text-white mr-2 ml-2" bgColor="bg-success" >
    <mdb-card-header> <mdb-icon fas icon="percent"></mdb-icon> Mühasibatlıq xidmətləri</mdb-card-header>
    <mdb-card-body>
      
      <mdb-card-text class="text-white">Mühasibatlıq və audit xidmətləri</mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  <mdb-card class="text-white" bgColor="bg-danger">
    <mdb-card-header> <mdb-icon fas icon="user-alt"></mdb-icon> HR xidmətləri</mdb-card-header>
    <mdb-card-body>
      <mdb-card-text class="text-white">HR (İnsan Resursları) xidmətləri</mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  
</div>
<div>
    <a mdbBtn  color="cyan" size="md" class="waves-light my-3" style="float:right"  mdbWavesEffect>
        Bütün xidmətlərə keçid <mdb-icon fas icon="angle-double-right"></mdb-icon></a>
</div>
<br />
</section>

</div> -->



<!-- NEW STYLE -->
<!-- Section: Features v.1 -->
<section class="text-center my-5" id="services">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Xidmətlərimiz</h2>
    <!-- Section description -->
    <!-- <p class="lead grey-text w-responsive mx-auto mb-5"></p> -->
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-4 mb-5" [mdbPopover]="hoverMaliyye" mdbWavesEffect triggers="hover">
  
        <i class="fas fa-donate fa-3x text-success"></i>
        <h5 class="font-weight-bold my-4"> Maliyyə </h5>
              
              <ng-template #hoverMaliyye><div>
                  <ul class="list-group list-group-flush text-success mb-md-0 mb-5">
                    <li class="list-group-item">Muhasibatlıq xidmətlərin yazılması</li>
                    <li class="list-group-item">Muhasibatlığın qurulması</li>
                    <li class="list-group-item">Maliyyə nəzarəti</li>
                  </ul>
               </div>
              </ng-template>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-4 mb-5" [mdbPopover]="hoverMuhasibet" mdbWavesEffect triggers="hover">
  
          <i class="fas fa-hand-holding-usd fa-3x indigo-text"></i>
          <h5 class="font-weight-bold my-4 "> Mühasibatlıq</h5>
               
                <ng-template #hoverMuhasibet><div>
                  <ul class="list-group list-group-flush indigo-text mb-md-0 mb-5">
                      <li class="list-group-item">Mühasibatlıq və audit xidmətləri</li>
                  </ul>
                 </div>
                </ng-template>
                
    
        </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-4 mb-5" [mdbPopover]="hoverHR" mdbWavesEffect triggers="hover">
  
          <i class="fas fa-user-alt fa-3x orange-text"></i>
          <h5 class="font-weight-bold my-4"> HR </h5>
          <ng-template #hoverHR><div>
              <ul class="list-group list-group-flush orange-text mb-md-0 mb-5">
                  <li class="list-group-item">HR (İnsan Resursları) xidmətləri</li>
                  
                </ul>
           </div>
          </ng-template>
                
    
        </div>
      <!-- Grid column -->
              <!-- Grid column -->
      <div class="col-md-4 mb-5" [mdbPopover]="hoverVerg" mdbWavesEffect triggers="hover">
  
          <i class="fas fa-university fa-3x purple-text"></i>
          <h5 class="font-weight-bold my-4"> Vergi </h5>
          <ng-template #hoverVerg><div>
              <ul class="list-group list-group-flush purple-text mb-md-0 mb-5">
                <li class="list-group-item">Vergi, DSMF, Statistika orqanlarına hesabatların verilməsi</li>
              </ul>
           </div>
          </ng-template>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-4 mb-5" [mdbPopover]="hoverKagizTemp" mdbWavesEffect triggers="hover">
    
            <i class="fas fa-money-bill-wave   fa-3x teal-text"></i>
            <h5 class="font-weight-bold my-4 "> Qiymətli kağızlar</h5>
            <ng-template #hoverKagizTemp><div>
                <ul class="list-group list-group-flush teal-text mb-md-0 mb-5">
                  <li class="list-group-item">Qiymətli kağızlar üzrə əməliyyatlar</li>
                </ul>
             </div>
            </ng-template>

          </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-4 mb-5" [mdbPopover]="hoverImgTemp" mdbWavesEffect triggers="hover">
          
            <i class="fas fa-gavel fa-3x red-text"></i>
            <h5 class="font-weight-bold my-4"> Hüquq</h5>
                  <ng-template #hoverImgTemp><div>
                     <ul class="list-group list-group-flush red-text mb-md-0 mb-5">
                    <li class="list-group-item">Hüquq xidmətləri</li>
                    
                  </ul>
                  </div></ng-template>

          </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-5" [mdbPopover]="hoverIT" mdbWavesEffect triggers="hover">
          
            <i class="fas fa-laptop-code fa-3x brown-text"></i>
            <h5 class="font-weight-bold my-4"> İT </h5>
                  <ng-template #hoverIT><div>
                     <ul class="list-group list-group-flush brown-text mb-md-0 mb-5">
                    <li class="list-group-item">İT xidmətləri</li>
                    
                  </ul>
                  </div></ng-template>

          </div>
        <!-- Grid column -->
         <!-- Grid column -->
         <div class="col-md-4 mb-5" [mdbPopover]="hoverConsulting" mdbWavesEffect triggers="hover">
          
            <i class="fas fa-comments-dollar fa-3x amber-text"></i>
            <h5 class="font-weight-bold my-4"> Consulting </h5>
                  <ng-template #hoverConsulting><div>
                     <ul class="list-group list-group-flush amber-text mb-md-0 mb-5">
                    <li class="list-group-item">Consulting (məsləhət)</li>
                    
                  </ul>
                  </div></ng-template>

          </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 mb-5" [mdbPopover]="hoverReg" mdbWavesEffect triggers="hover">
          
            <i class="fas fa-registered fa-3x cyan-text"></i>
            <h5 class="font-weight-bold my-4"> Qeydiyyat </h5>
                  <ng-template #hoverReg><div>
                     <ul class="list-group list-group-flush cyan-text mb-md-0 mb-5">
                    <li class="list-group-item">Şirkət və firmaların açılması</li>
                    
                  </ul>
                  </div></ng-template>

          </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Features v.1 -->